.input-suffix {
  @include clearfix();
  position: relative;
  height: 47px;
  margin: 0 0 21px;

  .suffix {
    width: 51px;
    height: 47px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px 10px 10px 10px;
  }

  .input {
    margin-right: 51px;
    width: 100;

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="color"],
    textarea {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}