.input-prefix {
  @include clearfix();
  position: relative;
  height: 47px;
  margin: 0 0 21px;

  .prefix {
    width: 51px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $input-prefix-background-color;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .input {
    margin-left: 51px;
    width: 100;

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="color"],
    textarea {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}